{
    "env": {
        "production": {
            "presets": [["env", {"modules": false}]],
            "plugins": ["syntax-object-rest-spread"]
        },
        "test": {
            "presets": ["env"],
            "plugins": ["syntax-object-rest-spread", "istanbul"]
        },
        "example": {
            "presets": ["syntax-object-rest-spread", "env"]
        }
    }
}
