{
    "env": {
        "production": {
            "presets": [["env", {"modules": false}], "stage-1"]
        },
        "test": {
            "presets": ["env", "stage-1"],
            "plugins": ["istanbul"]
        },
        "example": {
            "presets": ["env", "stage-1"]
        }
    }
}
